<div class="container">
    <h2>Individual Claim Report</h2>
    <iframe src="@($"{ViewBag.ReportServerUrl}?{ViewBag.ReportPath}&ClaimId={ViewBag.ClaimId}&rs:Embed=true")"
            style="width: 100%; height: 600px;" frameborder="0">
    </iframe>
</div>
